<div class=" bsg container-fluid"style="margin-top: 5%;">
  <footer>

      <div class="row ms1">
          <div class="col-lg-3 ">
              <h1 class="bt ">Order Now</h1>
              <p class="ps1"> Deals</p>
              <p class="ps1">Pizzas</p>
              <p class="ps1">Sides</p>
              <p class="ps1">Drinks</p>
              <p class="ps1">Desserts</p>
          </div>
          <div class="col-lg-3 ">
              <h1 class="bt">About Us</h1>
              <p class="ps1">About Us</p>
              <p class="ps1">Contactless Delivery</p>
              <p class="ps1">Nutrition</p>
          </div>
          <div class="col-lg-3 ">
              <h1 class="bt">Our Policies</h1>
              <p class="ps1">Terms&Conditions</p>
              <p class="ps1">FAQs& Help</p>
          </div>
          <div class="col-lg-3 ms2">
              <h1 class="bt">Visit Mocha Mania</h1>
              <p class="ps1">Locate a store</p>
              <p class="ps1">Global Blog</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <img class="is1" src="assets/footer/appstore.png">
          </div>
          <div class="col-lg-6 ms3">
              <img class="is2" src="assets/footer/googleplay.png">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 ms3">
              <p class="ps2">Help us in serving you better <button style=" color: rgb(3, 3, 3);" type="button" class="btn-basic">Give
                      Feedback</button> </p>
          </div>
          <div class="col-lg-6 ms3">
              <p class="bt2">Follow Us</p>
              <i class="fa is3"> &#xf09a;</i>
              <i class="fa fa-twiter is4"> &#xf099;</i>
              <i class="fa is4 ">&#xf16d;</i>
              <i class="fa is4">&#xf16a;</i>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <p class="ps3">Order a delicious pizza on the go, anywhere, anytime. Mocha Mania is happy to
                  assist you with your home delivery. Every time you order, you get a hot and fresh pizza
                  delivered at your doorstep in less than thirty <br> minutes. *T&C Apply.<br> Hurry up
                  and
                  place your order now!<br>© 2022 Mocha Mania India. All rights reserved. License Number:
                  10017011004220</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 ">
              <img class="f1 rounded" src="assets/footer/fassai ss.png">
          </div>
      </div>
  </footer>
</div>
