.bgimg{
  // position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
    // background-position: center center;
}

.menus{
  color: #fff;
  text-decoration: unset;
  text-transform: capitalize;
  font-family: "Bauer Bodoni Roman";
  font-size: 8rem;
  text-shadow: 0 0 50px rgba(0,0,0,0.7), 0 0 50px rgba(0,0,0,0.7);
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 30%;
}
.menus2{
  color: #fff;
  text-decoration: unset;
  text-transform: capitalize;
  font-family: "Bauer Bodoni Roman";
  font-size: 5rem;
  text-shadow: 0 0 50px rgba(0,0,0,0.7), 0 0 50px rgba(0,0,0,0.7);
  margin-top: 26.6%;
  margin-bottom: 30%;
  margin-left: 20%;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* CSS for fade-out effect */
.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Ensure that the active item is visible by default */
.carousel-inner .active {
  opacity: 1;
  transform: translateY(0);
}
/* CSS for scroll-triggered fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the element */
.fade-in {
  animation: fadeIn 0.6s ease forwards;
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(20px); /* Set initial transform */
}

/* Use scroll events to trigger the animation */
@media screen and (min-width: 768px) {
  .fade-in {
    animation-play-state: paused; /* Pause the animation by default */
  }
  .fade-in.in-viewport {
    animation-play-state: running; /* Play the animation when in the viewport */
  }
}
