<div class="row" >
  <div class="col-lg-12 fade-in">
    <h2 style="font-family:'Cabin';
    color: #3e3c3c;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;margin-bottom: 3%;" class="fade-in">Join the Mocha Club!</h2>
    <p class="fade-in" style="font-size: 24px;color: #24150B;font-family: 'Lato';text-align: center;margin-bottom: 8%;">Sign up for our <u  style="color: #424242;">rewards program</u>,where you will earn points on every spent!<br>
    <br>View your <u style="color: #424242;" >rewards</u> here:)</p>
  </div>
</div>
<hr style="border-color:rgba(68, 68, 68, 0.864) ;border-style:dashed;border-width: 1px;margin-bottom: 2%;">


<div class="row">
  <div class="col-lg-6 bgimg fade-in" style="background-image: url(https://images.getbento.com/accounts/7ddb4f625c4916181f9d829acbae6562/media/iKSqBLaTTagiL4Bt7UGA_Halibut_FarmJuly8.jpg?w=1200&fit=max&auto=compress,format);">
    <h3 class="menus" >MENUS</h3>
  </div>
  <div class="col-lg-6 bgimg fade-in" style="background-image: url(https://images.getbento.com/accounts/7ddb4f625c4916181f9d829acbae6562/media/images/97442StockLula_10.jpg?w=1200&fit=max&auto=compress,format);">
    <h3 class="menus2">Why We are Switching to Service Fee</h3>
  </div>
</div>
<hr style="border-color:rgba(68, 68, 68, 0.864) ;border-style:dashed;border-width: 1px;margin-bottom: 2%;">

<app-advertise3></app-advertise3>
