.bill_section {

  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border-style: dashed;
  border-width: 2px;
  border-color: lightgray;
}
.payment-Section{
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}
.list-group-item{
  border-bottom-width: 2px;
  border-bottom-style:solid ;
  border-bottom-color: rgba(128, 128, 128, 0.222);
}
.q{
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border-style: dashed;
  border-width: 2px;
  border-color: lightgray;
}
#bill_logo{
  max-width: 190px;
  margin-left: 218px;
}
