<div class="row" style="margin-top: 5px;padding-bottom: 4%;">
  <div class="col-lg-12 fade-in">
    <img src="assets/images/advertise/banner1.jpg" alt="Banner for you" style="max-width: 100%;">
    <h1 style="font-weight: 600; font-size: 88px;color: rgba(0, 0, 0, 0.829);margin-top: -350px; margin-left: 330px;font-family:Georgia, 'Times New Roman', Times, serif;">PARTY TRAYS
    <br><span style="font-size: 48px;color: rgb(0, 0, 0); margin-left: 0px;font-weight: 600;">Become your office MVP</span><br>
    <button class="btn btn-danger" style=" margin-left: 150px; font-size: 24px;width: 30%;margin-top: 10px;">Book Now</button></h1>
  </div>
</div>

