.cimg1{
  color: whitesmoke;
  border-color: rgb(255, 252, 252);
  border-width: 3px;
  margin-top:-553%;
  margin-left: 53%;
  font-size: 22pt;
  border-radius: 15px;
  font-family:serif;
  font-style: oblique;
  width: 20%;
}
.cimg2{
  color: whitesmoke;
  margin-top:-49%;
  margin-left: 3%;
  font-size: 22pt;
font-weight: bold;
  font-family:serif;
  width: 20%;
}
.card{
  box-shadow: 1px 2px 3px 4px rgb(190, 190, 190);

}
.card:hover{
  box-shadow: 2px 3px 4px 5px;
  color: rgba(250, 25, 25, 0.733);
}

